<plugin>
	<extension
            point="com.katalon.platform.extensions">
        <point
                id="thanhto.tagsplugin.TagsEventListenerInitializer"
                extensionPointId="com.katalon.platform.api.extension.eventListener"
                implementationClass="com.katalon.plugin.tags.TagsEventListenerInitializer">
        </point>
    </extension>
    <extension
            point="com.katalon.platform.extensions">
        <point
                id="thanhto.tagsplugin.TagsPluginActivationListener"
                extensionPointId="com.katalon.platform.api.extension.pluginActivationListener"
                implementationClass="com.katalon.plugin.tags.TagsPluginActivationListener">
        </point>
    </extension> 
        <extension
            point="com.katalon.platform.extensions">
        <point
                id="thanhto.tagsplugin.TagsLauncherOptionParserDescription"
                extensionPointId="com.katalon.platform.api.extension.launcherOptionParserDescription"
                implementationClass="com.katalon.plugin.tags.TagsLauncherOptionParserDescription">
        </point>
    </extension>
    <extension
            point="com.katalon.platform.extensions">
        <point
                id="com.katalon.plugin.tags.AdvancedTagQueryingTestSuiteImpl"
                extensionPointId="com.katalon.platform.api.extension.dynamicQueryingTestSuiteDescription"
                implementationClass="com.katalon.plugin.tags.AdvancedTagQueryingTestSuiteImpl">
        </point>
    </extension>
</plugin>
